<!DOCTYPE html>
<html ng-app="imageselector">
<head lang="en">
    <meta charset="UTF-8">
    <title>Image selector</title>
    <script type="text/javascript" src="/vendor/lodash/lodash.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/connection.js"></script>
    <script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/vendor/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script type="text/javascript" src="js/FolderCtrlr.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
    <link href="/vendor/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" media="all" rel="stylesheet" />
    <link href="css/index.css" media="all" rel="stylesheet" />
</head>
<body ng-controller="FolderCtrlr">
    <form>
        <input type="text" placeholder="Path where images are stored" ng-model="folderpath">
        <input type="text" placeholder="Show files of specific extension" ng-model="filter">
        <button ng-click="sendinfo()">Scan dir</button>
    </form>
    <div>
        <h5>
            <span>Listing files:{{getFiles().length}}</span>
            <span ng-repeat="item in extensions" ng-click="filterBy(item)">
                {{item.name}}: {{item.count}}
            </span>
        </h5>
        <div ng-show="getFiles().length > 0" id="selectall">
            <button ng-click="selectAll()">Select All</button>
            <button ng-click="unSelectAll()">Unselect All</button>
            <button ng-click="downloadSelected()">Download</button>
            <a ng-show="downloadLink" href="{{downloadLink}}" target="_blank">
                Use this link to download selection
            </a>
        </div>

        <span ng-repeat="picture in getFiles()">
            <img ng-click="openLightboxModal($index)" ng-src="{{picture.url}}"
                 style="height: 80px; width: 80px;" class="img-thumbnail" ng-class="{selected: picture.isAdded}">
        </span>
    </div>
<script type="text/javascript">
    angular.module('imageselector', ['DataServices']);
</script>
</body>
</html>