<div id="lightboxtpl" class="modal-body"
     ng-swipe-left="Lightbox.nextImage()"
     ng-swipe-right="Lightbox.prevImage()" ng-controller="OverlayController">
    <!-- navigation -->
    <div class="lightbox-nav">
        <!-- close button -->
        <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>

        <div class="btn-group">
            <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">
                ‹ Previous
            </a>

            <span ng-click="selectMe()" target="_blank"
               class="btn btn-xs btn-default" ng-class="{'btn-info': Lightbox.image.isAdded}">
                Select
            </span>

            <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">
                Next ›
            </a>
        </div>
    </div>

    <div class="lightbox-image-container">
        <!-- caption -->
        <div class="lightbox-image-caption">
            <span>{{Lightbox.imageCaption}}</span>
        </div>

        <!-- image -->
        <img lightbox-src="{{Lightbox.imageUrl}}" alt="">
    </div>
</div>